.mail-details {
  position: absolute;
  top: 40px;
  left: 40px;

  padding: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mail-details h2 {
  margin: 0 0 10px;
  color: #333;
}

.mail-details p {
  color: #666;
}
