.mail-preview {
  display: flex;
  align-items: center;
  gap: 15px;

  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: normal;

  color: #202124;
  background-color: #f2f6fc;

  cursor: pointer;
}

.mail-preview:hover {
  box-shadow: rgba(100, 121, 143, 0.12) 0px -2px 0px 0px inset;
}

.unread {
  background-color: white;
  font-weight: bold;
}
