.btn-action {
    background: none;
    border: none;
    cursor: pointer;
}

.note-card .btn-action {
    opacity: 0;
    transition: opacity 0.3s;
}

.note-card:hover .btn-action {
    opacity: 1;
}

.note-card:hover .pin-img {
    opacity: 1;
}
