.note-add {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    height: fit-content;
    font-size: 1.2em;
}

.note-add button {
    background: none;
    border: none;
    cursor: pointer;
}

.note-add input {
    border: none;
}
