.note-preview {
    max-width: 200px;
}

.pin-img {
    width: 15px;
    margin: 5px;
}

.note-preview .pin-img {
    opacity: 0;
    transition: opacity 0.3s;
}

.note-details .pin-img {
    opacity: 1;
}

.note-preview ul li,
.note-preview p,
.note-preview h2 {
    word-wrap: break-word;
    white-space: normal;
}

.note-preview ul {
    padding: 20px;
}

.note-title {
    margin-block-end: 8px;
}
