.note-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45px;
    transition: width 0.3s;
    min-height: 100vw;
}

.note-filter:hover {
    width: 200px;
    border: 1px solid rgb(228, 228, 228);
    border-top: none;
}

.btn-filter {
    border: none;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-block-start: 10px;

    justify-self: start;
    cursor: pointer;
    background: none;
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    transition: background-color 0.3s, width 0.3s, border-radius 0.3s;
}

.note-filter:not(:hover) .btn-filter {
    border-radius: 50%;
}

.note-filter:hover .btn-filter {
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    border-radius: 0 20px 20px 0;
}

.btn-filter i {
    margin-inline-end: 25px;
    transition: margin-right 0.3s;
    font-size: 1.5em;
    color: #1c1c1d;
}

.note-filter:hover .btn-filter span {
    display: inline;
}

.btn-filter span {
    display: none;
    opacity: 1;
}

.btn-filter:hover {
    background-color: #f1f3f4;
}

.btn-filter:active,
.btn-filter.active {
    background-color: #feefc3;
}
