.note-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.note-card {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
    height: fit-content;
}

.note-card:hover {
    transform: translateY(-3px);
}
