@keyframes moveToCenter {
    from {
        transform: translate(-50%, -50%) scale(0.3);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 1;
    }
}

.note-details {
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px 0 black;
    border: 1px solid rgb(221, 220, 220);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveToCenter 0.4s ease-out forwards;
}

.backdrop {
    cursor: pointer;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
