.unpinned-note-list {
    margin-block-end: 50px;
}

.note-card {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.4s;
    height: fit-content;
    break-inside: avoid;
    margin-block-end: 15px;
}

.note-card:hover {
    transform: translateY(-3px);
}

.notes-title {
    text-align: center;
    padding: 20px;
}
