.books-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    place-items: center;
    gap: 10px;
}

.books-list ul li {
    display: flex;
    position: relative;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    border-radius: 15px;
    gap: 10px;
    padding: 10px;
    background-color: rgb(216, 235, 235);
}

.books-list ul li {
    opacity: 0.8;
}

.close {
    position: absolute;
    border-radius: 50%;
    top: -7px;
    right: -7px;
    border: none;
    background: none;
}

.books-list li {
    cursor: pointer;
    transition: transform 0.5s;
}

.books-list li:hover {
    transform: translateY(-5px);
}

.on-sale-icon {
    width: 50%;
    object-fit: contain;
}

.books-container button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 5px;
    transition: 0.4s;
}

.books-container * {
    font-family: Lato;
}
