/* home */
.home {
    min-height: 75vh;
    text-align: center;
    padding: 50px;
    font-family: Roboto;
}

.logos-container {
    padding: 20px 5px;
    border-radius: 20px;
}
.home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.icon {
    cursor: pointer;
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 50%;
    transition: scale.3s;
}

.icon:hover {
    scale: 1.1;
}
