@media screen and (max-width: 575px) {
    .note-list {
        place-items: center;
    }
    .note-card {
        min-width: 235px;
    }
    iframe {
        width: 235px;
        height: 200px;
    }
}
