header {
    background: rgba(224, 255, 255, 0.95);
    border-bottom: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.app-header {
    font-family: Lato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
}

.logo {
    font-family: Roboto;
    font-size: 1.5em;
}

.app-header h3 span:nth-child(1) {
    color: #4285f4;
}

.app-header h3 span:nth-child(2) {
    color: #ea4335;
}

.app-header h3 span:nth-child(3) {
    color: #fbbd05;
}

.app-header h3 span:nth-child(4) {
    color: #34a853;
}

.app-header h3 span:nth-child(5) {
    color: #4285f4;
}

.app-header h3 span:nth-child(6) {
    color: #ea4335;
}

nav a {
    margin: 0.5em;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.btn-toggle-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.hamburger-lines {
    font-size: 20px;
}
