header {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: 0.5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.logo {
    font-family: Roboto;
}

.app-header h3 span:nth-child(1) {
    color: #4285f4;
}

.app-header h3 span:nth-child(2) {
    color: #ea4335;
}

.app-header h3 span:nth-child(3) {
    color: #fbbd05;
}

.app-header h3 span:nth-child(4) {
    color: #34a853;
}

.app-header h3 span:nth-child(5) {
    color: #4285f4;
}

.app-header h3 span:nth-child(6) {
    color: #ea4335;
}

.app-header nav a {
    margin-right: 15px;
}
