.user-msg {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 0.6em;
    position: absolute;
    border-radius: 10px;
    top: 1em;
    right: 1em;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.error {
    background-color: lightpink;
}

.user-msg button {
    cursor: pointer;
    float: right;
    margin: 1em;
    background: none;
    border: none;
}
