.user-msg {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 0.6em;
    position: fixed;
    border-radius: 10px;
    bottom: 1em;
    right: 1em;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

.user-msg.success {
    background-color: rgb(213, 252, 213);
}

.user-msg.error {
    background-color: rgb(252, 189, 198);
}

.user-msg button {
    cursor: pointer;
    float: right;
    margin: 1em;
    background: none;
    border: none;
}
